<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">Welcome to the bloggers community forum which is exclusive creative minds! Alpha Blog.</p>
        <hr class="my-4">
        <p>This is a place to feed your creativity and colaborate with fellow bloggers to achieve greater heights.</p>
        <p class="lead">
            <%= link_to  "Sign Up!", signup_path , class: "btn btn-success btn-lg" %>
        </p>
    </div>
</div>


